/**
 * Styles for ResCon Scheduler
 * @rdarling42
 *
 **/

.button {
    display:block;
}

.dissapear {
    display:none;
}

li {
    list-style:none;
}

@mixin blocked(){
    background:$green; 
    min-height:1.5rem;
}

aside {
    ul {
        margin-left: 0; 
    }
    li {
        button {
            margin-bottom:0;
            width:100%; 
        } 
    }
}

.fade {
    opacity:0.5;
}

.blocked {
    @include blocked();
}

.home {

    .time {
        background: $smoke;
    }

    .blocked {
        @include blocked();
    }

    .event-title {
        color:$smoke; 
    }
}
